<html>
    <head>
        <title>Login met irma</title>
        <script src="https://github.com/privacybydesign/irma-frontend-packages/releases/latest/download/irma.js"></script>
        <script>
           function init() {
                const session = irma.newWeb({
                    debugging: false,
                    element: "#irma",
                    session: {
                        start: false,
                        result: false,
                        mapping: {
                            sessionPtr: () => ({{ qr }}),
                        }
                    }
                }).start()
                    .then(() => { window.location = "{{ continuation }}"; });
           }
        </script>
        {% if release -%}
        <script type="text/javascript">
            /*<![CDATA[*/
            (function () {
              var sz = document.createElement('script');
              sz.type = 'text/javascript'; sz.async = true;
              sz.src = '//siteimproveanalytics.com/js/siteanalyze_6006118.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(sz, s);
            })();
              /*]]>*/
          </script>
        {% endif -%}
    </head>
    <body onload="init()">
        <h2>Open de IRMA-app en scan de code</h2>
        <div id="irma"></div>
    </body>
</html>
